<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>

<body id="index" class="home">
{% include 'github.html' %}
  <header id="banner" class="body">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
    <nav><ul>
    {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    {% if DISPLAY_PAGES_ON_MENU -%}
    {% for pg in pages %}
        <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
    {% endfor %}
    {% endif %}
    {% if DISPLAY_CATEGORIES_ON_MENU -%}
    {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
    {% endif %}
    </ul></nav>
  </header><!-- /#banner -->
  {% block content %}
  {% endblock %}
  <section id="extras" class="body">
  {% if LINKS %}
    <div class="blogroll">
          <h2>blogroll</h2>
          <ul>
          {% for name, link in LINKS %}
              <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
          </ul>
    </div><!-- /.blogroll -->
  {% endif %}
  {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
          <div class="social">
                  <h2>social</h2>
                  <ul>
                      {% if FEED_ALL_ATOM %}
                      <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                      {% endif %}
                      {% if FEED_ALL_RSS %}
                      <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                      {% endif %}

                  {% for name, link in SOCIAL %}
                      <li><a href="{{ link }}">{{ name }}</a></li>
                  {% endfor %}
                  </ul>
          </div><!-- /.social -->
  {% endif %}
  </section><!-- /#extras -->
  {% block footer %}
  <footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
  {% block copyright %}
      <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
        <a rel="license"
          href="http://creativecommons.org/publicdomain/zero/1.0/">
          <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
        </a>
        <br />
        To the extent possible under law,
        <a rel="dct:publisher"
          href="http://moorepants.info">
          <span property="dct:title">Jason K. Moore</span>
        </a>
        has waived all copyright and related or neighboring rights to
        <span property="dct:title">{{ SITENAME }} Website</span>.
        This work is published from:
        <span property="vcard:Country" datatype="dct:ISO3166"
          content="US" about="http://moorepants.info">
        United States</span>.
      </p>
  {% endblock %}
      Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
      <p>The source for the website is <a
        href="https://github.com/moorepants/eme185">hosted on
        Github</a>. Report issues
      and make contributions there.</p>
    </address><!-- /#about -->
  </footer><!-- /#contentinfo -->
  {% endblock %}

{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
